.about-us {
    display: flex;
    min-height: 720px;
    overflow: hidden;
}

.about-us__image {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;
}

.about-us__image div {
    padding: 32px 64px;
    display: flex;
    flex: 1;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us__image-sushi2 {
    border-bottom: 8px solid var(--color-creamson);
    background-image: url('../../assets/about_bg1.png');
}

.about-us__image-sushi3  {
    background-image: url('../../assets/about_bg2.png');
}

.about-us__image-sushi2 img {
    width: 225px;
    height: 200px;
}

.about-us__image-sushi3 img {
    width: 240px;
    height: 160px;
}

.about-us__button {
    right: 0;
    position: absolute;
    padding: 12px 32px;
    background-color: #000;
    color: #fff;
    min-height: 64px;
    font-family: var(--nunito-display);
    font-weight: bold;
    font-size: 18px;
    border-radius: 32px 0 0 32px;
    cursor: pointer;
    border: none;
    outline: none;
}

.about-us__button img {
    object-fit: contain;
    margin-left: 24px;
}

.about-us__content {
   display: flex;
   padding: 64px;
   flex: 1;
   justify-content: center;
   flex-direction: column;
   font-family: var(--nunito-display);
}

